__pycache__
.ipynb_checkpoints*
*-checkpoint.ipynb
cache
data
results
models
*.log
*.slurm
definitions*.json
comparison*.png
config*.json
*.db
*.sublime-project
*.sublime-workspace
.DS_Store

models/avocado-chr*.h5
models/avocado-chr*.json